@model EgresadosU.Models.OfertasEgresados

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OfertasEgresados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Egresados.TarjetaProfesional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Egresados.TarjetaProfesional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfertasLaborales.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfertasLaborales.Titulo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
