@model EgresadosU.Models.Programas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Programas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Snies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Snies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semestres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semestres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creditos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creditos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instituciones.Nit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instituciones.Nit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NivelesFormación.Nivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NivelesFormación.Nivel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
